@media (max-width: 1000px) {
    .hero__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .skills__content {
        flex-direction: column-reverse;
        text-align: center;
    }

    hero__img {
        .hero__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .hero__desc {
            text-align: center;
        }
    }

}


@media(max-width:768px; ) {
    .nav {
        display: none;
    }

}