:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Revalia", sans-serif;
}




body {
    font-family: 'Roboto', sans-serif;
    font-family: var(--font-family);
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}





.hero {
    background: rgb(222, 255, 213);
    padding-top: 56px;
    min-height: 700px;
    padding-bottom: 73px;
}

.container {
    max-width: 1106px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 162px;
    max-width: 100%;
}

.logo {
    width: 96px;
    height: 60px;
}

.header__logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 42px;
}

.nav__item {}

.nav__link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 10%;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav__link:hover {
    color: rgb(52, 122, 59);
}

.hero__content {
    display: flex;
    gap: 30px 30px;
}

.hero__img-wrap {
    width: 50%;
    height: 500px;
    text-align: center;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__desc {
    max-width: 540px;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;

    color: #000;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
    text-align: center;
}

.hero__subtitle {
    text-align: left;
    margin-bottom: 48px;
}

.btn-wrap {
    width: 225px;
    height: 65px;

}

.btn {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #146b55;
    padding: 25px 40px;
}


.hero__title {
    margin-bottom: 50px;
}



.about {
    padding-top: 119px;
    padding-bottom: 100px;
    text-align: center;
    background-color: rgb(177, 254, 255);
}

.container {}

.about__content {
    width: 540px;
    margin: 0 auto;
}

.section__title {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    color: #000;
}

.subtile {}

.achievements {
    background: #146b55;
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.achievements__list {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.achievements__item {}

.achievement {
    display: flex;
    justify-content: space-between;
    width: 141px;
    height: 50px;
    color: white;
    align-items: flex-end;
}

.achievement__icon {
    display: flex;
    align-items: flex-end;
}

.achievement__desc {}

.achievement__count {
    margin-bottom: 10px;
}

.achievement__text {}









.skills {
    padding: 100px;
    background-color: rgb(212, 229, 255);
}



.skills__content {
    display: flex;
    justify-content: space-between;
}

.skills__desc {
    width: 50%;
    padding-top: 100px;
}



.skills__title {}

.skills__list {}

.skills__item {
    margin-bottom: 26px;
}

.skill {}

.skill__desc {

    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
    color: #727272;
}


.skill__meter::-webkit-meter-bar {
    width: 445px;
    height: 4px;
    border-radius: 0px;
    border: none;
    background: #c4c4c4;

}


.skill__meter::-webkit-meter-optimum-value {
    background: #34547a;
}


.skills__img-wrap {}

.skills__img {
    width: 555px;
    height: 450px;
    object-fit: cover;
}


.skill__meter {}


.demo {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-color: #d4fbff;
}

.container {
    width: 1116px;
    margin: 0 auto;
    padding: 0 5px;
}

.demo__content {
    width: 540px;
    height: 147px;
    text-align: center;
    margin: 0 auto;
}

.section-title {}

.demo__title {
    margin-bottom: 46px;
}

.subtitle {}

.demo__subtitle {}

.demo__video-wrap {
    margin-top: 54px;
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #34537a7a;
    transition: 0.5s;
}

.demo__video-wrap:hover {
    background-color: #34537a00;
    transition: 0.5s;
}

.demo__video {
    height: 100%;
    width: 100%;
}

.demo__video-btn {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}



.demo__video-btn:hover {
    transform: translate(-50%, -50%) scale(0.8);
    transition: 0.3s;
}


.projects__item {
    flex: 1 0 25%;
}

.work {}

.work__link {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.5s ease-in;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__overlay {
    position: absolute;
    background-color: rgba(52, 84, 122, 0.8);
    width: 100%;
    height: 0;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease-in;

}



.work__overlay-img {}

.projects__list {
    display: flex;
    flex-wrap: wrap;
}

.work__link:hover .work__overlay {
    height: 100%;
    transition: 0.5s ease-out;

}


.work__overlay-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}